<div class="flex  w-full items-center gap-x-24 h-[15%]  bg-white fixed top-0 left-0 overflow-y-hidden shadow-md rounded-md z-50">
  <div class="flex items-center">
    <div class="h-20 w-24">
      <img src="assets/images/logo.jpg" alt="My Image" />
    </div>
    <h3 class="font-bold text-xl mt-6">NovaWing</h3>
  </div>
  <div class="mt-6 flex items-center justify-between w-3/4">
    <div class="flex items-center">
      <input
        class="focus:outline-none w-96 border-solid border-2 text-[1rem]"
        hlmInput
        placeholder="Search for Friend"
        type="text"
      />
      <ng-icon
        name="ionSearch"
        size="25"
        class="relative w-10 text-gray-500/40 left-[-30px]"
      ></ng-icon>
    </div>
    <div class="flex gap-x-2 items-center">
      <app-notifications />
      <app-avatar />
    </div>
  </div>
</div>
