<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 px-14">
    <ng-container *ngFor="let user of users" >
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
        <app-friend-request-respond [user]="user"></app-friend-request-respond>
    </ng-container>
</div>