<section
  class="w-[199px] h-[335px] flex flex-col  bg-white rounded-lg shadow-lg"
>
  <div>
    <div class="flex-1">
      <img
        src="/assets/images/handsome-man-white-background.jpg"
        alt="Post Image"
        class="w-full h-full object-cover rounded-t-lg"
      />
    </div>
    <div>
      <p class="px-4 font-[600]">{{user.username}}</p>
    </div>
  </div>
  <div>
    <div *ngIf="isInvitationSent">
      <p class="text-[#65676b] px-4">Request sent</p>
    </div>
    <div class="p-3 flex items-center">
      <button
        hlmBtn
        *ngIf="!isInvitationSent"
        class="w-full bg-[#ebf5ff] text-[#0067d2] hover:bg-[#dfe9f2] py-2 rounded-md mt-6"
        (click)="addFriend()"
      >
        Add Friend
      </button>
      <button
        hlmBtn
        *ngIf="isInvitationSent"
        class="w-full bg-[#e4e6eb] py-2 rounded-md hover:bg-[#d8dadf] text-black hover:text-black"
        (click)="cancelFriend()"
      >
        Cancel
      </button>
    </div>
  </div>
</section>
