<div class="flex items-center justify-center w-screen h-screen">
  <section hlmCard class="bg-gray-800 text-gray-300 p-6 rounded-lg shadow-md">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="text-white">Login</h3>
      <p hlmCardDescription>Enter your credentials to log into your account.</p>
    </div>
    <div hlmCardContent>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <!-- Email Field -->
        <label class="block my-4" hlmLabel>
          Email
          <input class="mt-1.5 w-full bg-gray-600 text-gray-300 border-none rounded-lg" type="email" formControlName="email" placeholder="Enter your email" hlmInput />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <p *ngIf="loginForm.get('email')?.errors?.['required']" class="text-red-500">Email is required</p>
            <p *ngIf="loginForm.get('email')?.errors?.['email']" class="text-red-500">Please enter a valid email</p>
          </div>
        </label>
  
        <!-- Password Field -->
        <label class="block my-4" hlmLabel>
          Password
          <input class="mt-1.5 w-full bg-gray-600 text-gray-300 border-none rounded-lg" type="password" formControlName="password" placeholder="Enter your password" hlmInput />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <p *ngIf="loginForm.get('password')?.errors?.['required']" class="text-red-500">Password is required</p>
            <p *ngIf="loginForm.get('password')?.errors?.['minlength']" class="text-red-500">Password must be at least 8 characters long</p>
          </div>
        </label>
  
        <!-- Submit Button -->
        <div hlmCardFooter>
          <button hlmBtn type="submit" class="bg-gray-700 text-white hover:bg-gray-600 rounded-lg w-full py-2" [disabled]="loginForm.invalid">Login</button>
        </div>
        <p class="mt-4 text-gray-400 text-center">
          Don't have an account? 
          <button (click)="goToRegister()" class="text-blue-400">Register here</button>
        </p>
      </form>
    </div>
  </section>
  
</div>