<section *ngIf="posts && posts.length > 0; else noPosts" class="w-[100%] min-h-screen mx-auto flex flex-col justify-center" hlmCard>
  <div *ngFor="let post of posts" class="mb-4">
    <div hlmCardHeader class="mb-[-30px] flex justify-between">
      <div>
        <h3 hlmCardTitle class="flex gap-x-2 justify-between items-center">
          <div class="flex gap-x-2">
            <app-avatar src="blabla" class="w-10 h-10"></app-avatar>
            <div class="mt-1">
              {{ post.user.username }}
              <p class="mt-1 font-[600] tracking-wide text-[12px]" hlmCardDescription>{{ post.createdAt | date: 'medium' }}</p>
            </div>
          </div>
          <ng-icon name="bootstrapThreeDotsVertical" size="27" class="text-gray-500/40"></ng-icon>
        </h3>
      </div>
    </div>

    <div class="p-5">{{ post.content }}</div>

    <div *ngIf="post.image" hlmCardContent class="flex w-full h-[30%]">
      <div class="w-[500px] mx-auto h-[750px] flex justify-center">
        <img *ngIf="post.image" [src]="'data:image/jpeg;base64,' + post.image" alt="Post Image" class="h-[750px] w-[600px] rounded-sm" />
      </div>
    </div>

    <div class="mx-7 border-y-[1.2px]">
      <div class="my-3 flex justify-around gap-x-6">
        <div class="flex items-center gap-x-2 cursor-pointer hover:scale-110">
          <ng-icon name="bootstrapHeart" size="20" class="text-gray-500/40"></ng-icon>
          <p class="text-gray-500 font-bold">Like ({{ post.likes.length }})</p>
        </div>
        <div class="flex items-center gap-x-2 cursor-pointer hover:scale-110">
          <ng-icon name="octComment" size="20" class="text-gray-500/40"></ng-icon>
          <p class="text-gray-500 font-bold">Comment ({{ post.comments.length }})</p>
        </div>
        <div class="flex items-center gap-x-2 cursor-pointer hover:scale-110">
          <ng-icon name="bootstrapShare" size="19" class="text-gray-500/40"></ng-icon>
          <p class="text-gray-500 font-bold">Share</p>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #noPosts>
  <div class="min-h-screen flex items-center justify-center text-gray-500 text-xl">
    Aucun post disponible pour le moment.
  </div>
</ng-template>
