<section class="w-[100%] mx-auto" hlmCard>
  <div hlmCardHeader class="mb-[-30px]">
    <h3 hlmCardTitle class="flex gap-x-0 items-center">
      <app-avatar class="w-10 h-10 mt-3.5" />

      Aynur nuur
    </h3>
  </div>
  <div class="p-5">
    Ces dimensions permettent d'optimiser l'affichage sur les différentes
    plateformes (ordinateurs, smartphones, tablettes). Facebook redimensionne
    souvent les images automatiquement, donc il est recommandé d'utiliser des
    images de haute qualité pour éviter toute perte de qualité lors du
    redimensionnement.
  </div>
  <div hlmCardContent class="flex  w-full">
    <div class="w-[552px] h-[900px] flex justify-center">
      <div>
        <img
          src="/assets/images/image.png"
          class="h-[750px] w-[552px]"
          alt=""
        />
      </div>
    </div>
  </div>
  <div hlmCardFooter class="justify-between">
    <button hlmBtn variant="ghost">Cancel</button>
    <button hlmBtn>Create</button>
  </div>
</section>
