<div class="flex w-full items-center justify-center pt-[20%]">
    <button hlmBtn variant="outline" align="center" [brnMenuTriggerFor]="menu">Open</button>
  </div>
  <ng-template #menu>
    <hlm-menu class="w-56">
      <hlm-menu-group>
        <hlm-menu-label>Appearance</hlm-menu-label>

        <button hlmMenuItemCheckbox [checked]="isPanel" (triggered)="isPanel = !isPanel">
          <hlm-menu-item-check />
          <span>Panel</span>
        </button>

        <button hlmMenuItemCheckbox disabled [checked]="isActivityBar" (triggered)="isActivityBar = !isActivityBar">
          <hlm-menu-item-check />
          <span>Activity Bar</span>
        </button>

        <button hlmMenuItemCheckbox [checked]="isStatusBar" (triggered)="isStatusBar = !isStatusBar">
          <hlm-menu-item-check />
          <span>Status Bar</span>
        </button>
      </hlm-menu-group>

      <hlm-menu-separator />

      <hlm-menu-label>Panel Position</hlm-menu-label>

      <hlm-menu-group>
        @for (size of panelPositions; track size) {
          <button hlmMenuItemRadio [checked]="size === selectedPosition" (triggered)="selectedPosition = size">
            <hlm-menu-item-radio />
            <span>{{ size }}</span>
          </button>
        }
      </hlm-menu-group>

      <hlm-menu-separator />

      <button hlmMenuItem (triggered)="reset()">
        <hlm-icon name="lucideUndo2" hlmMenuIcon />
        Reset
      </button>
    </hlm-menu>
  </ng-template>