<div class="w-full flex">
    <!-- Sidebar -->
    <div class="w-[20%]  bg-gray-100 fixed h-[calc(100vh-80px)] top-[80px] left-0 p-4">
      <!-- Contenu de la barre latérale -->
      <nav class="space-y-6 mt-10">
        <!-- Logo ou titre de la sidebar -->
        <div class="flex items-center space-x-2">
          <span class="text-xl font-bold">MyApp</span>
        </div>
        
        <!-- Liens de navigation -->
        <ul class="space-y-4">
          <li>
            <a href="/home" class="flex items-center space-x-2 hover:bg-gray-200 p-2 rounded-lg">
                <ng-icon name="octHome" size="20" class="mt-[0.5px] "></ng-icon>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/profile" class="flex items-center space-x-2 hover:bg-gray-200 p-2 rounded-lg">
                <ng-icon name="octPerson" size="20" class="mt-[0.5px] "></ng-icon>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="/messages" class="flex items-center space-x-2 hover:bg-gray-200 p-2 rounded-lg">
                <ng-icon name="octCommentDiscussion" size="20" class="mt-[0.5px] "></ng-icon>
              <span>Messages</span>
            </a>
          </li>
          <li>
            <a href="/notifications" class="flex items-center space-x-2 hover:bg-gray-200 p-2 rounded-lg">
                <ng-icon name="octBell" size="20" class="mt-[0.5px] "></ng-icon>
              <span>Notifications</span>
            </a>
          </li>
          <li>
            <a href="/settings" class="flex items-center space-x-2 hover:bg-gray-200 p-2 rounded-lg">
                <ng-icon name="octGear" size="20" class="mt-[0.5px] "></ng-icon>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a href="/logout" class="flex items-center space-x-2 hover:bg-gray-200 p-2 rounded-lg">
                <ng-icon name="octSignOut" size="20" class="mt-[0.5px] "></ng-icon>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- Feed (postes) -->
    <div class="mt-2 w-[80%] ml-[40%]">
      <app-feed></app-feed>
    </div>
  </div>
  