<!-- layout.component.html -->
<div class="fixed top-0 w-full z-50 bg-slate-200">
    <app-header class="w-full shadow-md"></app-header>
  </div>
  
  <div class="flex min-h-screen bg-slate-200">
    <!-- Sidebar -->
    <div class="fixed top-[80px] left-0 w-[20%] h-[calc(100vh-80px)] bg-gray-100 p-4">
      <app-left-side-bar></app-left-side-bar>
    </div>
  
    <!-- Main Content Slot -->
    <div class="flex-grow ml-[20%] p-4 overflow-y-auto">
      <ng-content></ng-content>
    </div>
  </div>
  