<div class=" h-screen bg-slate-200 flex flex-col overflow-hidden ml-[320px]">
  <!-- Section: Friend Requests -->
  <div class="w-full h-[56%] p-8 overflow-y-auto flex flex-col items-start ">
    <h2 class="font-bold text-2xl mb-4 ml-11">My Friend Requests</h2>
    <app-my-request-friend-main class="w-full"></app-my-request-friend-main>
  </div>

  <!-- Séparateur horizontal -->
  <div class="w-full  h-[2px] bg-slate-400"></div>

  <!-- Section: People You May Know -->
  <div class=" w-full h-1/2 p-8 overflow-y-auto flex flex-col items-start">
    <h2 class="font-bold text-2xl mb-4 ml-11">People You May Know</h2>
    <app-friend-request-main class="w-full"></app-friend-request-main>
  </div>
</div>
